@page
@model Farkas_Szabolcs_ProiectExamen.Pages.Cumparatori.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cumparator</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cumparator.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cumparator.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cumparator.Prenume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cumparator.Prenume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cumparator.Adresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cumparator.Adresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cumparator.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cumparator.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cumparator.NrTel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cumparator.NrTel)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Cumparator.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
