@page
@model Farkas_Szabolcs_ProiectExamen.Pages.Cumparatori.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cumparator</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cumparator.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cumparator.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cumparator.Prenume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cumparator.Prenume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cumparator.Adresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cumparator.Adresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cumparator.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cumparator.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cumparator.NrTel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cumparator.NrTel)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cumparator?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
